
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@400;500;700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    padding: 0 20px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.14;
    font-family: 'Indie Flower', cursive;
    color: #fff;
    /* overflow: hidden; */
}

.container {
    width: 600px;
    height: 90vh;
    background: linear-gradient(to left, #0575e6, #021b79); 
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
    position: relative;
}

.timer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb ;
}
.timer-wrapper .clock #second {
    color: #ff3838;

}

#logo {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    line-height: 40px;
    width: 100px;
    height: 40px;
    background: linear-gradient(to left, #e0eafc, #cfdef3);
    text-align: center;
    border-radius: 50%;
    color: #454545;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
#logo:hover {
    background: linear-gradient(to left, #c21500, #ffc500);
    color: #fff;
}
.title {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    width: 280px;
    position: relative;
    border-right: 3px solid #7d5fff;
    border-left: 3px solid #7d5fff;
    margin: 20px auto;
    color:  #ffb347;

}
.title::after {
    content: '';
    width: 50px;
    height: 3px;
    border-radius: 5px;
    background-color: #7d5fff;
    position: absolute;
    top: 80%;
    right: -10px;
}
.title::before {
    content: '';
    width: 50px;
    height: 3px;
    border-radius: 5px;
    background-color: #7d5fff;
    position: absolute;
    bottom: 80%;
    left: -10px;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px;
}
.form-wrapper .input-wrapper {
    flex-grow: 1;

}
.form-wrapper .input-wrapper input {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 2.5rem;
    outline: none;
    padding: 5px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border: none;
    font-size: 1.6rem;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.submit-wrapper {
    width:60px;
    background-color: #7158e2;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.4s;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    overflow: hidden;
}
.submit-wrapper button {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #ffa801;
}
.submit-wrapper button svg {

    position: absolute;
    font-size: 4rem;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    
}
.submit-wrapper button:hover {
    background-color: #ff9f1a;
    opacity: 0.9;
}

/* list works */
.list-works {
    height: 57vh;
    /* background-color: #fff; */
    /* margin: 15px -20px 0 -20px; */
    padding: 0;
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.list-works  li {
    padding: 10px 30px 10px 35px;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    line-height: 2,4rem;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
    transition: 0.5s;
    position: relative;
    animation-name: workAdd;
    animation-duration: 0.5s;

}
.list-works  li:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.list-works  li a.delete-btn {
    position: absolute;
    /* background-color: #fff; */
    top: 10px;
    right: -20px;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    color: #353b48;
    display: inline-block;
    padding: 0 10px;
}

.list-works  li:hover a.delete-btn {
    right: 10px;
    visibility: visible;
    opacity: 1;
}
.list-works  li:hover a.delete-btn:hover {
    color: #c23616;
}

.list-works  li span.checked-btn {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: -20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}


.list-works  li.completed {
    transform: scale(1.03);
    text-decoration: line-through;
}
.list-works  li.completed span.checked-btn {
    left: 10px;
    color: #44bd32;
    visibility: visible;
    opacity: 1;
}

.list-works  li.completed a.delete-btn {
    right: 10px;
    visibility: visible;
    opacity: 1;
}

.list-works  li.delete {
    animation-name: workDelete;
    animation-duration: 0.4s;
    
}


.clear-wrapper {
    position: absolute;
    right: 20px;
    bottom: 10px;

}
.clear-wrapper a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
    padding: 5px 15px;
    background-color: #8c7ae6;
    border-radius: 4px;
    transition: 0.3s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.clear-wrapper a:hover {
    background-color: #c23616;
    transform: scale(1.02);
}

@keyframes workAdd {
    from {left: -100%;}
  to {left: 0px;}
}
@keyframes workDelete {
    from {left: 0;}
  to {left: 100%;}
}